POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

APP_DB_HOST=postgres
APP_DB_PORT=5432
APP_DB_NAME=hsg

FLYWAY_SCHEMAS=hsg
FLYWAY_DEFAULT_SCHEMA=hsg

APP_ENV=DEV
APP_PORT=8180
HSG_BASE_URL=http://localhost:8180/hsg-his
HSG_EMAIL_DOMINIO=hsg.com.br

CPF_ENCRYPTION_KEY=HSG_DEV_ONLY_PLACEHOLDER_32CHAR_
CARTEIRINHA_ENCRYPTION_KEY=HSG_DEV_CART_PLACEHOLDER_32CHARS_

KC_PORT=8080
KC_HOSTNAME=localhost
KC_HOSTNAME_PORT=8080
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_LOG_LEVEL=INFO

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=Admin@HSG2026

KC_DB_NAME=keycloak
KC_REALM=hsg-his
KC_CLIENT_ID=hsg-his-web
KC_AUTH_URL=http://localhost:8080/realms/hsg-his/protocol/openid-connect/auth
KC_TOKEN_URL=http://keycloak:8080/realms/hsg-his/protocol/openid-connect/token
KC_REDIRECT_URI=http://localhost:8180/hsg-his/callback
KC_ADMIN_BASE_URL=http://keycloak:8080

MAIL_SMTP_HOST=mailhog
MAIL_SMTP_PORT=1025
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
MAIL_SMTP_FROM=noreply@hsg-his.com.br
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

APP_STORAGE_ENDPOINT=http://minio:9000
APP_STORAGE_REGION=us-east-1
APP_STORAGE_ACCESS_KEY=minioadmin
APP_STORAGE_SECRET_KEY=minioadmin
APP_STORAGE_PATH_STYLE=true
APP_STORAGE_PRESIGN_TTL_MIN=15
APP_STORAGE_MAX_BYTES=20971520

APP_STORAGE_BUCKET_ANEXO_CLIENTE=hsg-anexos-cliente
APP_STORAGE_BUCKET_ANEXO_CONSULTA=hsg-anexos-consulta
APP_STORAGE_BUCKET_ANEXO_ANOTACAO=hsg-anexos-anotacao
APP_STORAGE_BUCKET_EXAME_CONSULTA=hsg-exames-consulta
